In [698]:
import requests
import pandas as pd
from bs4 import BeautifulSoup
import re
import math

In [280]:
lines = []

for year in [2018, 2019, 2020, 2021, 2022]:
    resp = requests.get(
        'https://results.ittf.link/index.php',
        params=dict(
            option='com_fabrik',
            view='list',
            listid=1,
            Itemid=111,
            resetfilters=0,
            clearordering=0,
            clearfilters=0,
            limitstart1=0,
            limit1=500,
            fab_tournaments___code=year
        )
    )
    soup = BeautifulSoup(resp.text)
    rows = soup.find('table', {'id': 'list_1_com_fabrik_1'}).find_all("tr", {"class": "fabrik_row"})
    for row in rows:
        lines.append(list(map(lambda x: x.text.strip(), row.find_all('td'))))

In [282]:
df = pd.DataFrame(lines, columns=['tournament_id', 'year', 'tournament_name', 'tournament_type', 'tournament_kind', 'organizer', 'matches', 'from', 'to', 'foo'])
df.drop(columns=['foo'], inplace=True)
df

,tournament_id,year,tournament_name,tournament_type,tournament_kind,organizer,matches,from,to
0,2813,2018,"2018 - World Tour, Hungarian Open, Budapest (HUN)",World Tour / Pro Tour,--,HUN,563,2018-01-18,2018-01-21
1,2882,2018,"2018 - ITTF Europe Top 16 Cup, Montreux (SUI)",Continental,--,SUI,32,2018-02-03,2018-02-04
2,2835,2018,"2018 - Oman Junior and Cadet Open, Muscat (OMA)",World Junior Circuit,Premium,OMA,574,2018-02-07,2018-02-11
3,2865,2018,"2018 - YOG, Road to BA Europe, Hodonin (CZE)",Olympic Games,--,CZE,113,2018-02-12,2018-02-13
4,2840,2018,2018 - ITTF Junior Circuit Premium Czech Junio...,World Junior Circuit,Premium,CZE,1534,2018-02-14,2018-02-18
...,...,...,...,...,...,...,...,...,...
372,5370,2022,"2022 - WTT Youth Contender, Sulaymaniyah (IRQ)",WTT Youth Contender Series,WTT Youth Contender,IRQ,403,2022-03-14,2022-03-20
373,5397,2022,"2022 - WTT Contender, Doha (QAT)",WTT Contender Series,WTT Contender,QAT,289,2022-03-18,2022-03-24
374,5380,2022,"2022 - WTT Youth Contender, Tunis (TUN)",WTT Youth Contender Series,WTT Youth Contender,TUN,362,2022-03-21,2022-03-27
375,5400,2022,"2022 - WTT Star Contenders, Doha (QAT)",WTT Contender Series,WTT Star Contender,QAT,267,2022-03-25,2022-03-31
376,5399,2022,"2022 - Central American Championships, Guatema...",Other events,,GUA,,2022-05-03,2022-05-08

In [283]:
df.to_csv('data/tournaments_with_junior_2018.tsv', index=False, sep='\t')

In [344]:
adult = df[
    ~(
        df.tournament_type.str.contains('Junior')
        | df.tournament_name.str.contains('YOG')
        | df.tournament_name.str.contains('Junior')
        | df.tournament_name.str.contains('Cadet')
        | df.tournament_name.str.contains('Youth')
        | df.tournament_name.str.contains('U21')
        | df.tournament_name.str.contains('U18')
        | df.tournament_name.str.contains('Senior')
    )
].copy()
adult.to_csv('data/tournaments_2018.tsv', index=False, sep='\t')
# adult[adult.matches != ''].matches.astype(int).sort_values()
# adult.loc[351]

In [665]:
games = []
for row in adult.itertuples():
    resp = requests.get(
        'https://results.ittf.link/index.php',
        params=dict(
            option='com_fabrik',
            view='list',
            listid=47,
            Itemid=158,
            resetfilters=1,
            limit47=2000,
            fab_matches___tournament_id=row.tournament_id
        )
    )

    soup = BeautifulSoup(resp.text)
    rows = soup.find('table', {'id': 'list_47_com_fabrik_47'}).find_all("tr", {"class": "fabrik_row"})
    for row in rows:
        *cells, link = row.find_all('td')
        lis = list(map(lambda x: x.text.strip(), cells))
        lis.append(row.tournament_id)
        lis.append(link.find('a')['data-rowid'])
        games.append(lis)

In [288]:
# resp = requests.get(
#     'https://results.ittf.link/index.php',
#     params=dict(
#         option='com_fabrik',
#         view='list',
#         listid=47,
#         Itemid=158,
#         resetfilters=1,
#         limit47=2000,
#         fab_matches___tournament_id=2876
#     )
# )

In [668]:
gamef = pd.DataFrame(games, columns=['tournament_name', 'player_a', 'player_b', 'player_x', 'player_y', 'event_type', 'round', 'res_a', 'res_x', 'winner', 'winner_dbl', 'view', 'foo', 'match_id'], dtype=str)
gamef.drop(columns=['view', 'foo'], inplace=True)
gamef

,tournament_name,player_a,player_b,player_x,player_y,event_type,round,res_a,res_x,winner,winner_dbl,match_id
0,"2018 - World Tour, Hungarian Open, Budapest (HUN)",APOLONIA Tiago (POR) (100621),,BADOWSKI Marek (POL) (120154),,Men's Singles,2,4,1,APOLONIA Tiago,,329372
1,"2018 - World Tour, Hungarian Open, Budapest (HUN)",NUYTINCK Cedric (BEL) (106814),,NAGY Krisztian (HUN) (106542),,Men's Singles,2,4,2,NUYTINCK Cedric,,329373
2,"2018 - World Tour, Hungarian Open, Budapest (HUN)",NUYTINCK Cedric (BEL) (106814),,YEFIMOV Viktor (UKR) (110367),,Men's Singles,3,1,4,YEFIMOV Viktor,,329374
3,"2018 - World Tour, Hungarian Open, Budapest (HUN)",YEFIMOV Viktor (UKR) (110367),,NAGY Krisztian (HUN) (106542),,Men's Singles,1,4,1,YEFIMOV Viktor,,329375
4,"2018 - World Tour, Hungarian Open, Budapest (HUN)",FRANZISKA Patrick (GER) (102832),,CHEN Alexander (AUT) (113914),,Men's Singles,2,4,1,FRANZISKA Patrick,,329376
...,...,...,...,...,...,...,...,...,...,...,...,...
42630,"2022 - WTT Star Contenders, Doha (QAT)",KARLSSON Kristian (SWE) (104379),,GACINA Andrej (CRO) (102891),,Men's Singles,4,0,4,GACINA Andrej,,1018142
42631,"2022 - WTT Star Contenders, Doha (QAT)",ARUNA Quadri (NGR) (112092),,LIM Jonghoon (KOR) (117357),,Men's Singles,4,2,4,LIM Jonghoon,,1018143
42632,"2022 - WTT Star Contenders, Doha (QAT)",LIN Yun-Ju (TPE) (121582),CHENG I-Ching (TPE) (110797),LEBESSON Emmanuel (FRA) (105136),YUAN Jia Nan (FRA) (137894),Mixed Doubles,2,0,3,LEBESSON Emmanuel,YUAN Jia Nan,1018144
42633,"2022 - WTT Star Contenders, Doha (QAT)",HAN Ying (GER) (118762),,KIHARA Miyuu (JPN) (131036),,Women's Singles,2,3,4,KIHARA Miyuu,,1018145
42634,"2022 - WTT Star Contenders, Doha (QAT)",GACINA Andrej (CRO) (102891),,LIM Jonghoon (KOR) (117357),,Men's Singles,2,4,2,GACINA Andrej,,1018146

In [669]:
agamef = gamef[gamef.event_type.isin([
    "Men's Singles",
    "Women's Singles",
    "Men's Teams",
    "Women's Teams",
    "Men's Doubles",
    "Women's Doubles",
    "Mixed Doubles",
])]
agamef

,tournament_name,player_a,player_b,player_x,player_y,event_type,round,res_a,res_x,winner,winner_dbl,match_id
0,"2018 - World Tour, Hungarian Open, Budapest (HUN)",APOLONIA Tiago (POR) (100621),,BADOWSKI Marek (POL) (120154),,Men's Singles,2,4,1,APOLONIA Tiago,,329372
1,"2018 - World Tour, Hungarian Open, Budapest (HUN)",NUYTINCK Cedric (BEL) (106814),,NAGY Krisztian (HUN) (106542),,Men's Singles,2,4,2,NUYTINCK Cedric,,329373
2,"2018 - World Tour, Hungarian Open, Budapest (HUN)",NUYTINCK Cedric (BEL) (106814),,YEFIMOV Viktor (UKR) (110367),,Men's Singles,3,1,4,YEFIMOV Viktor,,329374
3,"2018 - World Tour, Hungarian Open, Budapest (HUN)",YEFIMOV Viktor (UKR) (110367),,NAGY Krisztian (HUN) (106542),,Men's Singles,1,4,1,YEFIMOV Viktor,,329375
4,"2018 - World Tour, Hungarian Open, Budapest (HUN)",FRANZISKA Patrick (GER) (102832),,CHEN Alexander (AUT) (113914),,Men's Singles,2,4,1,FRANZISKA Patrick,,329376
...,...,...,...,...,...,...,...,...,...,...,...,...
42630,"2022 - WTT Star Contenders, Doha (QAT)",KARLSSON Kristian (SWE) (104379),,GACINA Andrej (CRO) (102891),,Men's Singles,4,0,4,GACINA Andrej,,1018142
42631,"2022 - WTT Star Contenders, Doha (QAT)",ARUNA Quadri (NGR) (112092),,LIM Jonghoon (KOR) (117357),,Men's Singles,4,2,4,LIM Jonghoon,,1018143
42632,"2022 - WTT Star Contenders, Doha (QAT)",LIN Yun-Ju (TPE) (121582),CHENG I-Ching (TPE) (110797),LEBESSON Emmanuel (FRA) (105136),YUAN Jia Nan (FRA) (137894),Mixed Doubles,2,0,3,LEBESSON Emmanuel,YUAN Jia Nan,1018144
42633,"2022 - WTT Star Contenders, Doha (QAT)",HAN Ying (GER) (118762),,KIHARA Miyuu (JPN) (131036),,Women's Singles,2,3,4,KIHARA Miyuu,,1018145
42634,"2022 - WTT Star Contenders, Doha (QAT)",GACINA Andrej (CRO) (102891),,LIM Jonghoon (KOR) (117357),,Men's Singles,2,4,2,GACINA Andrej,,1018146

In [670]:
name_map = adult.rename(columns={'event_name': 'tournament_name', 'event_type': 'tournament_type', 'event_kind': 'tournament_kind'}).set_index('tournament_name').tournament_id.to_dict()

In [671]:
agamef['tournament_id'] = agamef.tournament_name.map(name_map)

/tmp/ipykernel_27284/3302710675.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  agamef['tournament_id'] = agamef.tournament_name.map(name_map)

In [672]:
agamef.to_csv('data/games_2018.tsv', index=False, sep='\t')

In [673]:
agamef

,tournament_name,player_a,player_b,player_x,player_y,event_type,round,res_a,res_x,winner,winner_dbl,match_id,tournament_id
0,"2018 - World Tour, Hungarian Open, Budapest (HUN)",APOLONIA Tiago (POR) (100621),,BADOWSKI Marek (POL) (120154),,Men's Singles,2,4,1,APOLONIA Tiago,,329372,2813
1,"2018 - World Tour, Hungarian Open, Budapest (HUN)",NUYTINCK Cedric (BEL) (106814),,NAGY Krisztian (HUN) (106542),,Men's Singles,2,4,2,NUYTINCK Cedric,,329373,2813
2,"2018 - World Tour, Hungarian Open, Budapest (HUN)",NUYTINCK Cedric (BEL) (106814),,YEFIMOV Viktor (UKR) (110367),,Men's Singles,3,1,4,YEFIMOV Viktor,,329374,2813
3,"2018 - World Tour, Hungarian Open, Budapest (HUN)",YEFIMOV Viktor (UKR) (110367),,NAGY Krisztian (HUN) (106542),,Men's Singles,1,4,1,YEFIMOV Viktor,,329375,2813
4,"2018 - World Tour, Hungarian Open, Budapest (HUN)",FRANZISKA Patrick (GER) (102832),,CHEN Alexander (AUT) (113914),,Men's Singles,2,4,1,FRANZISKA Patrick,,329376,2813
...,...,...,...,...,...,...,...,...,...,...,...,...,...
42630,"2022 - WTT Star Contenders, Doha (QAT)",KARLSSON Kristian (SWE) (104379),,GACINA Andrej (CRO) (102891),,Men's Singles,4,0,4,GACINA Andrej,,1018142,5400
42631,"2022 - WTT Star Contenders, Doha (QAT)",ARUNA Quadri (NGR) (112092),,LIM Jonghoon (KOR) (117357),,Men's Singles,4,2,4,LIM Jonghoon,,1018143,5400
42632,"2022 - WTT Star Contenders, Doha (QAT)",LIN Yun-Ju (TPE) (121582),CHENG I-Ching (TPE) (110797),LEBESSON Emmanuel (FRA) (105136),YUAN Jia Nan (FRA) (137894),Mixed Doubles,2,0,3,LEBESSON Emmanuel,YUAN Jia Nan,1018144,5400
42633,"2022 - WTT Star Contenders, Doha (QAT)",HAN Ying (GER) (118762),,KIHARA Miyuu (JPN) (131036),,Women's Singles,2,3,4,KIHARA Miyuu,,1018145,5400
42634,"2022 - WTT Star Contenders, Doha (QAT)",GACINA Andrej (CRO) (102891),,LIM Jonghoon (KOR) (117357),,Men's Singles,2,4,2,GACINA Andrej,,1018146,5400

In [674]:
# agamef = pd.read_csv('data/games_2018.tsv', sep='\t')
agamef.loc[agamef.player_x == 'Mohammed Ali (IND) (133387)', 'player_x'] = 'ALI Mohammed (IND) (133387)'
agamef.loc[agamef.player_x == 'Naina (IND) (119535)', 'player_x'] = 'JAISWAL Naina (IND) (119535)'
agamef.loc[agamef.player_a == 'KHOIRUNISA (INA) (145584)', 'player_a'] = 'KHOIRUNISA Khoirunisa (INA) (145584)'
agamef.loc[agamef.player_x == 'KHOIRUNISA (INA) (145584)', 'player_x'] = 'KHOIRUNISA Khoirunisa (INA) (145584)'
agamef.loc[agamef.player_y == '(INA) (145479)', 'player_y'] = 'GADING PUTRI Az-Hari (INA) (145479)'

In [675]:
players = []

namex = re.compile('(?P<last>[\w\s\'\.-]*[^a-z]) (?P<first>[A-Z][\w\s\.-]+) (?P<year>\(\d+\)\s)?\((?P<country>\w+)\) \((?P<pid>\d+)\)')

for row in agamef.itertuples():
    name = row.player_a.replace('^', '')
    match = namex.match(name)
    if not match:
        print(name, row)
    players.append({
        'player_id': match['pid'],
        'last_name': match['last'],
        'first_name': match['first'],
        'country': match['country'],
    })

    name = row.player_x.replace('^', '')
    match = namex.match(name)
    if not match:
        print(name, row)
    players.append({
        'player_id': match['pid'],
        'last_name': match['last'],
        'first_name': match['first'],
        'country': match['country'],
    })

    if row.player_b and not pd.isna(row.player_b):
        name = row.player_b.replace('^', '')
        match = namex.match(name)
        if not match:
            print(name, row)
        players.append({
            'player_id': match['pid'],
            'last_name': match['last'],
            'first_name': match['first'],
            'country': match['country'],
        })

    if row.player_y and not pd.isna(row.player_y):
        name = row.player_y.replace('^', '')
        match = namex.match(name)
        if not match:
            print(name, row)
        players.append({
            'player_id': match['pid'],
            'last_name': match['last'],
            'first_name': match['first'],
            'country': match['country'],
        })


playerf = pd.DataFrame(players)
playerf.drop_duplicates(inplace=True)

In [676]:
# playerf[playerf.duplicated(subset=['player_id'], keep=False)]
playerf.drop_duplicates(subset=['player_id'], keep='last', inplace=True)
playerf.to_csv('data/players.tsv', index=False, sep='\t')

In [677]:
playerf

      player_id    last_name first_name country
0        100621     APOLONIA      Tiago     POR
1        120154     BADOWSKI      Marek     POL
2        106814     NUYTINCK     Cedric     BEL
3        106542         NAGY  Krisztian     HUN
5        110367      YEFIMOV     Viktor     UKR
...         ...          ...        ...     ...
87757    144667  ABDULWAHHAB   Abdullah     QAT
87882    134369   SINGEORZAN      Ioana     ROU
88316    134211      ALYAFEI     Khalid     QAT
88453    200413          JOO   Cheonhui     KOR
89007    135292       SARKAR     Takeme     IND

[3428 rows x 4 columns]

In [678]:
agamef.drop(columns=['tournament_name', 'winner', 'winner_dbl'], inplace=True)
agamef = agamef.reset_index(drop=True)
agamef

/tmp/ipykernel_27284/423904599.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  agamef.drop(columns=['tournament_name', 'winner', 'winner_dbl'], inplace=True)

,player_a,player_b,player_x,player_y,event_type,round,res_a,res_x,match_id,tournament_id
0,APOLONIA Tiago (POR) (100621),,BADOWSKI Marek (POL) (120154),,Men's Singles,2,4,1,329372,2813
1,NUYTINCK Cedric (BEL) (106814),,NAGY Krisztian (HUN) (106542),,Men's Singles,2,4,2,329373,2813
2,NUYTINCK Cedric (BEL) (106814),,YEFIMOV Viktor (UKR) (110367),,Men's Singles,3,1,4,329374,2813
3,YEFIMOV Viktor (UKR) (110367),,NAGY Krisztian (HUN) (106542),,Men's Singles,1,4,1,329375,2813
4,FRANZISKA Patrick (GER) (102832),,CHEN Alexander (AUT) (113914),,Men's Singles,2,4,1,329376,2813
...,...,...,...,...,...,...,...,...,...,...
37672,KARLSSON Kristian (SWE) (104379),,GACINA Andrej (CRO) (102891),,Men's Singles,4,0,4,1018142,5400
37673,ARUNA Quadri (NGR) (112092),,LIM Jonghoon (KOR) (117357),,Men's Singles,4,2,4,1018143,5400
37674,LIN Yun-Ju (TPE) (121582),CHENG I-Ching (TPE) (110797),LEBESSON Emmanuel (FRA) (105136),YUAN Jia Nan (FRA) (137894),Mixed Doubles,2,0,3,1018144,5400
37675,HAN Ying (GER) (118762),,KIHARA Miyuu (JPN) (131036),,Women's Singles,2,3,4,1018145,5400
37676,GACINA Andrej (CRO) (102891),,LIM Jonghoon (KOR) (117357),,Men's Singles,2,4,2,1018146,5400

In [679]:
ids = []

for row in agamef.itertuples():
    id_row = {}
    name = row.player_a.replace('^', '')
    match = namex.match(name)
    if not match:
        print(row)

    id_row['a_id'] = match['pid']

    name = row.player_x.replace('^', '')
    match = namex.match(name)
    if not match:
        print(row)

    id_row['x_id'] = match['pid']

    if row.player_b and not pd.isna(row.player_b):
        name = row.player_b.replace('^', '')
        match = namex.match(name)
        if not match:
            print(row)

        id_row['b_id'] = match['pid']

    if row.player_y and not pd.isna(row.player_y):
        name = row.player_y.replace('^', '')
        match = namex.match(name)
        if not match:
            print(row)

        id_row['y_id'] = match['pid']

    ids.append(id_row)
agamef.drop(columns=['player_a', 'player_b', 'player_x', 'player_y'], inplace=True)
agamef = pd.concat([agamef, pd.DataFrame(ids)], axis = 1)

In [680]:
typ = []
gender = []
for event_type in agamef.event_type:
    if pd.isna(event_type):
        continue

    if 'Men' in event_type:
        gender.append('M')
    elif 'Women' in event_type:
        gender.append('F')
    elif 'Mixed' in event_type:
        gender.append('X')

    if 'Singles' in event_type:
        typ.append('S')
    elif 'Doubles' in event_type:
        typ.append('D')
    elif 'Teams' in event_type:
        typ.append('T')

In [681]:
agamef['gender'] = pd.Series(gender)
agamef['event_type'] = pd.Series(typ)
agamef['round_of'] = agamef['round'].fillna(0).replace('', 0).astype(int)
agamef.drop(columns=['round'], inplace=True)

In [682]:
agamef.loc[20167, 'res_x'] = '4'
agamef.loc[3303, 'res_x'] = '4'

In [683]:
agamef.to_csv('data/games_table_2018.tsv', index=False, sep='\t')

In [684]:
agamef

,event_type,res_a,res_x,match_id,tournament_id,a_id,x_id,b_id,y_id,gender,round_of
0,S,4,1,329372,2813,100621,120154,NaN,NaN,M,2
1,S,4,2,329373,2813,106814,106542,NaN,NaN,M,2
2,S,1,4,329374,2813,106814,110367,NaN,NaN,M,3
3,S,4,1,329375,2813,110367,106542,NaN,NaN,M,1
4,S,4,1,329376,2813,102832,113914,NaN,NaN,M,2
...,...,...,...,...,...,...,...,...,...,...,...
37672,S,0,4,1018142,5400,104379,102891,NaN,NaN,M,4
37673,S,2,4,1018143,5400,112092,117357,NaN,NaN,M,4
37674,D,0,3,1018144,5400,121582,105136,110797,137894,X,2
37675,S,3,4,1018145,5400,118762,131036,NaN,NaN,F,2
37676,S,4,2,1018146,5400,102891,117357,NaN,NaN,M,2

In [751]:
mranks = pd.read_csv('data/men2017.csv')
mranks

,Rank,Previous,ID,Assoc,Gender,Name,Points,Previous Points,WeekNum,MonthNum,YearNum
0,1,1,105649,CHN,M,MA Long,3323,3323,0,12,2017
1,2,2,121404,CHN,M,FAN Zhendong,3254,3201,0,12,2017
2,3,3,107028,GER,M,OVTCHAROV Dimitrij,3106,3011,0,12,2017
3,4,0,110267,CHN,M,XU Xin,3078,2994,0,12,2017
4,5,4,101222,GER,M,BOLL Timo,2971,2902,0,12,2017
...,...,...,...,...,...,...,...,...,...,...,...
1465,0,0,120845,KOR,M,KANG Dongsoo,2046,2046,0,12,2017
1466,0,0,109990,GER,M,WANG ^^ Xi,2055,2063,0,12,2017
1467,0,0,117336,JPN,M,JIN Takuya,2123,2131,0,12,2017
1468,0,0,114247,CAN,M,WANG ^ Eugene,2158,2158,0,12,2017
1469,0,0,105176,KOR,M,LEE Jungwoo,2187,2187,0,12,2017

In [686]:
namex2 = re.compile('(?P<last>[\w\'\s\.-]+[^a-z]) (?P<first>[A-Z][\w\s-]+)')

base_players = []
for row in mranks.itertuples():
    name = row.Name.replace('^', '')
    match = namex2.match(name)
    if match is None:
        print(row)
    base_players.append({
        'player_id': str(row.ID),
        'last_name': match['last'],
        'first_name': match['first'],
        'country': row.Assoc,
    })

playerf2 = pd.concat([pd.DataFrame(base_players), playerf])
playerf2['last_name'] = playerf2.last_name.str.strip()
playerf2['first_name'] = playerf2.first_name.str.strip()

In [687]:
playerf2.drop_duplicates(subset=['player_id'], keep='last', inplace=True)
playerf2.reset_index(inplace=True)
playerf2.to_csv('data/players.tsv', index=False, sep='\t')

In [688]:
playerf2.loc[61]

index            462
player_id     101383
last_name      BUKIN
first_name    Andrey
country          RUS
Name: 61, dtype: object

In [689]:
testx = re.compile('(?P<last>[\w\'\s\.-]+[^a-z]) (?P<first>[A-Z][\w\s-]+)')

In [690]:
mpoints = mranks[['ID', 'Points']].set_index('ID').to_dict()['Points']
mpoints

{105649: 3323,
 121404: 3254,
 107028: 3106,
 110267: 3078,
 101222: 2971,
 115910: 2806,
 106195: 2804,
 110729: 2800,
 110553: 2787,
 105197: 2739,
 112062: 2707,
 111606: 2703,
 101820: 2684,
 112620: 2678,
 105926: 2671,
 113059: 2662,
 123980: 2630,
 108246: 2621,
 102841: 2606,
 118761: 2530,
 112092: 2507,
 110411: 2504,
 102761: 2501,
 111595: 2501,
 121752: 2498,
 100696: 2497,
 104379: 2489,
 117113: 2489,
 108581: 2486,
 108958: 2484,
 115641: 2480,
 112409: 2460,
 105136: 2449,
 110730: 2438,
 104257: 2421,
 100621: 2417,
 119588: 2416,
 112074: 2415,
 103107: 2414,
 101648: 2408,
 102697: 2403,
 115439: 2387,
 102380: 2381,
 113165: 2379,
 112580: 2373,
 116620: 2363,
 109946: 2341,
 117357: 2335,
 102832: 2332,
 121412: 2325,
 114936: 2322,
 105339: 2316,
 102891: 2313,
 102968: 2309,
 113336: 2303,
 113931: 2298,
 102943: 2297,
 103037: 2292,
 110410: 2288,
 109459: 2284,
 123690: 2267,
 104314: 2264,
 106296: 2264,
 112735: 2264,
 114355: 2264,
 111050: 2251,
 123962: 2250,
 103126: 2248,
 112442: 2233,
 104128: 2232,
 115927: 2231,
 119532: 2225,
 112436: 2216,
 105937: 2213,
 110002: 2208,
 110673: 2208,
 119565: 2202,
 103903: 2198,
 134379: 2197,
 117890: 2195,
 119284: 2185,
 106814: 2183,
 119794: 2172,
 111791: 2171,
 116532: 2171,
 111826: 2170,
 103345: 2168,
 109140: 2166,
 109188: 2165,
 123729: 2162,
 115546: 2160,
 113340: 2158,
 120850: 2158,
 101979: 2147,
 105609: 2146,
 118927: 2146,
 113685: 2144,
 103070: 2143,
 134239: 2142,
 115396: 2141,
 100982: 2135,
 106050: 2134,
 111033: 2134,
 121558: 2133,
 101674: 2131,
 108204: 2126,
 116612: 2115,
 116853: 2114,
 121582: 2111,
 111641: 2109,
 112035: 2108,
 107312: 2107,
 116658: 2105,
 109865: 2103,
 107445: 2101,
 105497: 2100,
 109581: 2095,
 113243: 2087,
 103202: 2085,
 117345: 2083,
 109546: 2079,
 115680: 2077,
 104795: 2075,
 110726: 2075,
 108742: 2072,
 131983: 2071,
 116820: 2069,
 121408: 2063,
 112446: 2060,
 113689: 2058,
 104359: 2056,
 111884: 2053,
 132237: 2053,
 101711: 2052,
 107578: 2052,
 101192: 2047,
 104036: 2046,
 105928: 2039,
 107071: 2022,
 111020: 2021,
 105666: 2020,
 119543: 2019,
 100001: 2014,
 104892: 2014,
 107138: 2008,
 114718: 2008,
 114856: 2003,
 110367: 2002,
 118886: 1996,
 101480: 1990,
 112445: 1986,
 106848: 1985,
 113329: 1983,
 100817: 1980,
 113676: 1979,
 108574: 1977,
 117800: 1969,
 119729: 1969,
 121514: 1966,
 106298: 1964,
 116798: 1962,
 115928: 1961,
 114860: 1956,
 117003: 1949,
 109904: 1948,
 110602: 1943,
 122044: 1943,
 105032: 1938,
 120683: 1938,
 105679: 1937,
 109002: 1937,
 107324: 1925,
 116818: 1925,
 114709: 1923,
 108480: 1913,
 112417: 1913,
 102242: 1912,
 110888: 1910,
 100439: 1909,
 115561: 1907,
 112738: 1900,
 112073: 1898,
 116530: 1887,
 113317: 1886,
 119800: 1885,
 113419: 1883,
 118889: 1882,
 106777: 1880,
 117341: 1876,
 120851: 1876,
 104983: 1869,
 132632: 1869,
 117002: 1866,
 133893: 1866,
 102486: 1864,
 118851: 1862,
 119566: 1861,
 117330: 1860,
 114410: 1859,
 116021: 1849,
 112600: 1848,
 101400: 1844,
 111216: 1844,
 107456: 1842,
 100829: 1839,
 100079: 1836,
 113679: 1828,
 122777: 1826,
 102736: 1824,
 107570: 1824,
 133694: 1822,
 115866: 1816,
 113251: 1815,
 117887: 1813,
 104827: 1812,
 111115: 1812,
 113395: 1807,
 107026: 1806,
 104760: 1805,
 102418: 1799,
 112075: 1799,
 115449: 1799,
 131726: 220,
 114717: 1798,
 121042: 1798,
 106151: 1797,
 122388: 1797,
 104774: 1795,
 110727: 1793,
 119873: 1789,
 102994: 1788,
 114715: 1783,
 117139: 231,
 107772: 1777,
 117312: 1777,
 104462: 1771,
 107272: 1764,
 114716: 1764,
 122776: 236,
 114123: 1762,
 131375: 1755,
 107762: 1752,
 115438: 1752,
 114973: 1751,
 114356: 1749,
 106913: 1745,
 114848: 1739,
 119877: 1736,
 115392: 1728,
 114838: 1723,
 113847: 247,
 100486: 1713,
 121693: 1713,
 123682: 1705,
 110615: 1703,
 115029: 1703,
 121588: 1701,
 132302: 1699,
 132883: 1696,
 120224: 1695,
 118671: 1693,
 132583: 1692,
 114960: 1690,
 115000: 1690,
 104086: 1685,
 115828: 1677,
 115063: 1672,
 113332: 1671,
 109538: 1666,
 112121: 1665,
 103093: 1663,
 114734: 1663,
 112284: 1662,
 106784: 1661,
 106948: 1661,
 107506: 1661,
 131148: 1656,
 131717: 1655,
 101189: 1654,
 104690: 1654,
 112451: 1649,
 104087: 1646,
 123971: 1640,
 106786: 1639,
 115048: 1639,
 124576: 1639,
 103875: 1636,
 111959: 1631,
 119092: 1627,
 101514: 1625,
 120066: 1620,
 120154: 1620,
 120168: 1619,
 121684: 1616,
 108066: 1615,
 113974: 1615,
 122727: 1615,
 112883: 291,
 106542: 1607,
 120865: 1604,
 110623: 295,
 112599: 1601,
 123300: 1600,
 120947: 1598,
 106059: 1590,
 107893: 1587,
 119316: 1587,
 100210: 1584,
 103159: 1583,
 113916: 1583,
 124108: 1581,
 107641: 1578,
 112077: 1577,
 120848: 1575,
 131169: 1572,
 115548: 1568,
 122095: 1566,
 111683: 1564,
 131143: 1563,
 121565: 1561,
 132880: 1560,
 112372: 1559,
 116213: 1559,
 123343: 1559,
 101545: 1555,
 121872: 319,
 109151: 1554,
 116848: 1553,
 132193: 321,
 113926: 1552,
 133319: 1548,
 105295: 1547,
 115019: 1547,
 132293: 324,
 101756: 1546,
 123305: 1545,
 113917: 1541,
 116641: 1541,
 123759: 328,
 115578: 1532,
 117862: 1532,
 114063: 1528,
 118072: 1528,
 102272: 1526,
 120287: 1523,
 111286: 1522,
 114005: 1521,
 121724: 337,
 115100: 1519,
 108999: 1518,
 115574: 1518,
 102890: 1514,
 100234: 1513,
 111669: 1512,
 123023: 1511,
 105801: 1509,
 121577: 1506,
 106062: 1501,
 120314: 1498,
 132366: 1498,
 120266: 1496,
 105098: 1491,
 112452: 1491,
 112040: 1489,
 114868: 1489,
 114457: 1486,
 105293: 1484,
 117032: 1479,
 116424: 1477,
 113478: 1476,
 123272: 359,
 114928: 1474,
 103842: 1470,
 100302: 1468,
 114281: 1468,
 102247: 1467,
 121878: 1463,
 113681: 1459,
 120300: 1458,
 111512: 1453,
 118882: 1453,
 122301: 1453,
 113376: 1452,
 116176: 1447,
 113928: 1446,
 119021: 1446,
 109661: 1445,
 113450: 1431,
 121490: 1428,
 131155: 1428,
 114976: 1427,
 118716: 1427,
 111219: 1424,
 103184: 1421,
 131418: 382,
 110768: 1420,
 117001: 1407,
 134316: 1407,
 112361: 1406,
 119677: 1402,
 132696: 1401,
 120018: 388,
 114865: 1394,
 111287: 1389,
 118962: 1388,
 113914: 1386,
 122094: 1385,
 131879: 1382,
 134443: 1377,
 119585: 1376,
 115545: 1375,
 120267: 1375,
 108295: 1374,
 116723: 1372,
 118846: 1364,
 112952: 1363,
 116846: 1361,
 104734: 1355,
 112195: 1355,
 102753: 1352,
 101847: 1349,
 116826: 1348,
 110819: 1347,
 117530: 1345,
 123720: 1345,
 111026: 1343,
 114873: 1341,
 110187: 1340,
 113342: 1339,
 111828: 1336,
 104033: 1334,
 116838: 1331,
 118847: 1330,
 123121: 1329,
 102243: 1326,
 121474: 1326,
 131913: 421,
 120074: 1319,
 117797: 1314,
 131990: 424,
 117865: 1313,
 117894: 1310,
 112950: 1308,
 114719: 1308,
 122387: 1308,
 122106: 427,
 101168: 1305,
 106095: 1304,
 124413: 431,
 122064: 1301,
 114476: 1300,
 131063: 433,
 121852: 1299,
 123282: 1299,
 116697: 1297,
 101511: 1296,
 116926: 1291,
 113472: 438,
 100900: 1290,
 112860: 1289,
 124005: 1289,
 118006: 441,
 101383: 1286,
 113433: 1286,
 119037: 1283,
 114068: 1281,
 108779: 1278,
 124524: 446,
 107707: 1275,
 112379: 1275,
 121912: 1275,
 123224: 448,
 131996: 448,
 121510: 1270,
 113665: 1266,
 133899: 1261,
 117006: 1258,
 120937: 1256,
 114035: 1255,
 134317: 1255,
 116262: 1254,
 115874: 1251,
 116675: 1245,
 114028: 1244,
 115054: 1244,
 131858: 461,
 121179: 1240,
 116648: 1237,
 122724: 1236,
 100126: 1234,
 114460: 1234,
 120040: 1234,
 114065: 1233,
 119029: 468,
 132137: 1232,
 112359: 1231,
 123680: 1230,
 120808: 1229,
 133318: 1229,
 118890: 1227,
 123931: 1227,
 104393: 1224,
 122002: 1224,
 108146: 1223,
 114027: 1222,
 116321: 1222,
 122440: 479,
 111591: 1221,
 122435: 1216,
 111428: 1215,
 120285: 1215,
 133717: 1215,
 119127: 483,
 131780: 484,
 110912: 1212,
 123019: 1212,
 120318: 1211,
 122221: 488,
 122307: 1207,
 119381: 489,
 131147: 1205,
 122578: 490,
 111017: 1203,
 122067: 1202,
 101879: 1201,
 134583: 1201,
 112093: 1198,
 115049: 495,
 116841: 1197,
 121025: 1197,
 118672: 1196,
 101098: 1195,
 123882: 1191,
 120322: 1190,
 122001: 1190,
 132022: 1190,
 131441: 1187,
 120602: 1183,
 133441: 1183,
 120099: 1181,
 121035: 1179,
 121689: 1179,
 118009: 1178,
 133455: 1178,
 114353: 1176,
 120259: 1175,
 113563: 1170,
 117046: 514,
 115458: 1168,
 123542: 515,
 113501: 1166,
 123864: 1165,
 114985: 1159,
 120872: 1155,
 131128: 1155,
 102682: 1153,
 102983: 1152,
 117604: 1151,
 121483: 1149,
 123976: 1149,
 122096: 1148,
 133777: 1148,
 123385: 1147,
 110674: 1144,
 116839: 1144,
 116138: 1138,
 124527: 1138,
 123478: 1137,
 118920: 1130,
 114712: 1126,
 122327: 1125,
 107791: 1124,
 123344: 537,
 122320: 1121,
 133841: 1121,
 121031: 1120,
 114874: 1119,
 133326: 1119,
 119945: 541,
 118165: 1117,
 117864: 543,
 116247: 1116,
 102727: 1111,
 120284: 1111,
 118875: 1110,
 120265: 1110,
 123293: 1102,
 112663: 1097,
 119042: 1093,
 122246: 551,
 122426: 1091,
 117849: 1089,
 111730: 1084,
 120052: 1083,
 121711: 1076,
 111779: 1075,
 116140: 1075,
 119261: 557,
 133774: 1074,
 123560: 1070,
 109629: 1069,
 117662: 1068,
 132723: 1067,
 116554: 1066,
 115801: 1064,
 109521: 1063,
 122225: 1061,
 123034: 1061,
 111217: 1060,
 118701: 1058,
 111514: 1056,
 131912: 1056,
 101459: 1055,
 116551: 1054,
 117816: 1052,
 122043: 1052,
 131878: 1052,
 134246: 1049,
 120307: 1047,
 124192: 579,
 119579: 1046,
 121870: 1046,
 122647: 1044,
 119424: 1042,
 118665: 1036,
 115134: 1034,
 123057: 1034,
 107983: 1033,
 120207: 1033,
 122940: 1033,
 114704: 1032,
 120978: 1031,
 111960: 1024,
 117073: 1022,
 115077: 1020,
 123648: 594,
 113761: 1015,
 123659: 1015,
 134442: 1015,
 131477: 1014,
 131773: 598,
 120256: 1013,
 119199: 1012,
 123386: 1011,
 111509: 1010,
 120282: 1009,
 123077: 1008,
 114146: 1007,
 115079: 1007,
 102367: 1006,
 122688: 607,
 112713: 1004,
 120239: 1003,
 122959: 1003,
 123664: 1003,
 131344: 609,
 121440: 1001,
 120309: 612,
 131156: 999,
 122843: 997,
 122736: 996,
 119396: 615,
 122332: 615,
 112293: 994,
 131484: 994,
 132773: 994,
 116897: 617,
 121690: 993,
 123204: 990,
 112413: 989,
 117213: 987,
 103329: 984,
 121869: 983,
 121511: 982,
 123844: 980,
 123410: 979,
 114733: 978,
 116604: 978,
 123029: 977,
 123577: 977,
 121437: 631,
 133662: 969,
 120019: 632,
 123468: 632,
 102827: 968,
 110035: 966,
 117120: 966,
 123281: 965,
 123514: 965,
 121624: 636,
 123660: 637,
 119536: 963,
 113625: 962,
 120041: 962,
 122165: 639,
 108884: 961,
 120073: 960,
 121077: 960,
 123031: 959,
 113839: 958,
 120857: 955,
 117871: 950,
 120261: 947,
 121866: 947,
 114938: 946,
 122749: 946,
 132820: 945,
 119463: 944,
 120896: 943,
 131784: 943,
 121611: 655,
 115541: 942,
 120083: 941,
 113559: 939,
 119508: 937,
 121857: 936,
 120162: 935,
 112907: 661,
 120908: 661,
 131852: 933,
 122020: 931,
 132311: 931,
 132172: 929,
 119820: 665,
 116245: 927,
 122546: 925,
 131926: 925,
 113070: 922,
 134794: 669,
 123018: 921,
 123192: 920,
 131982: 671,
 123544: 918,
 134582: 916,
 102213: 673,
 122642: 914,
 119272: 913,
 122276: 912,
 123773: 911,
 132935: 911,
 134793: 677,
 117140: 910,
 112125: 908,
 115780: 907,
 122061: 907,
 116559: 682,
 121687: 682,
 103288: 904,
 114020: 903,
 133695: 902,
 121546: 899,
 118838: 686,
 120096: 686,
 131217: 898,
 115118: 897,
 118690: 897,
 118523: 896,
 109746: 690,
 118541: 895,
 133379: 891,
 123515: 890,
 122051: 889,
 113320: 887,
 122607: 885,
 105897: 883,
 133656: 881,
 118928: 698,
 123257: 880,
 132775: 877,
 134881: 875,
 116421: 873,
 120155: 872,
 115249: 871,
 133811: 871,
 120938: 704,
 115232: 869,
 121060: 869,
 123219: 869,
 131211: 867,
 113289: 709,
 131671: 866,
 134395: 866,
 131294: 865,
 123143: 864,
 116492: 863,
 122606: 714,
 133850: 862,
 123175: 861,
 123522: 861,
 122610: 716,
 115212: 859,
 121722: 858,
 121452: 856,
 121682: 856,
 120161: 720,
 133367: 855,
 118702: 854,
 132217: 852,
 133589: 849,
 112642: 841,
 114007: 840,
 114750: 837,
 120674: 836,
 122008: 832,
 131420: 730,
 124175: 829,
 118023: 828,
 123568: 823,
 123905: 823,
 121277: 822,
 124589: 735,
 113167: 820,
 113583: 815,
 122679: 812,
 124566: 809,
 120157: 807,
 122537: 807,
 108189: 806,
 122047: 805,
 124435: 803,
 123017: 802,
 119666: 800,
 122080: 800,
 131065: 786,
 116840: 785,
 122299: 785,
 111371: 750,
 115693: 780,
 121940: 780,
 118950: 752,
 121076: 777,
 120025: 776,
 123207: 776,
 111528: 774,
 118011: 773,
 120053: 772,
 106034: 771,
 121939: 770,
 131289: 770,
 121717: 766,
 122894: 766,
 133652: 762,
 131694: 765,
 111498: 764,
 123534: 764,
 132793: 764,
 122423: 768,
 118725: 761,
 124461: 761,
 132786: 760,
 123896: 755,
 134628: 755,
 121871: 754,
 122186: 754,
 117533: 750,
 122187: 750,
 134353: 750,
 100869: 777,
 120114: 777,
 117062: 747,
 122677: 747,
 123072: 747,
 123948: 747,
 116709: 746,
 117880: 746,
 133347: 746,
 121858: 783,
 122425: 742,
 114323: 737,
 102245: 736,
 116227: 735,
 132227: 735,
 120262: 789,
 118845: 734,
 121993: 732,
 134333: 728,
 133867: 726,
 116724: 725,
 122982: 725,
 123080: 795,
 121178: 723,
 132008: 723,
 132994: 722,
 132995: 722,
 131376: 721,
 119248: 801,
 133736: 716,
 122703: 715,
 131154: 714,
 131093: 713,
 131934: 713,
 133020: 712,
 122151: 711,
 122674: 710,
 131502: 705,
 114072: 810,
 131779: 703,
 122800: 702,
 131340: 701,
 116341: 700,
 122086: 700,
 114031: 814,
 116253: 697,
 123924: 697,
 131723: 697,
 119944: 695,
 131412: 819,
 121493: 694,
 134863: 694,
 118939: 692,
 120315: 690,
 122277: 688,
 123665: 687,
 120640: 825,
 124571: 825,
 132179: 686,
 121512: 685,
 133241: 685,
 114017: 682,
 122122: 682,
 120126: 830,
 119033: 681,
 123020: 680,
 131126: 680,
 118934: 678,
 116758: 677,
 124176: 677,
 100196: 835,
 120093: 676,
 132325: 672,
 131917: 670,
 123923: 669,
 113570: 668,
 119205: 667,
 124149: 666,
 119951: 664,
 122993: 664,
 133829: 660,
 123028: 846,
 131150: 656,
 114397: 655,
 122053: 654,
 121691: 653,
 124234: 651,
 120869: 851,
 121992: 649,
 120668: 647,
 131727: 647,
 131406: 643,
 131123: 855,
 123170: 641,
 121166: 640,
 132187: 640,
 132312: 640,
 131676: 637,
 131823: 637,
 124639: 636,
 116351: 630,
 133206: 630,
 114859: 863,
 133454: 864,
 122643: 629,
 117451: 627,
 120570: 625,
 106136: 867,
 104452: 623,
 123525: 622,
 131297: 622,
 111135: 870,
 116860: 870,
 131932: 621,
 122963: 620,
 132789: 620,
 121532: 618,
 132026: 618,
 132805: 616,
 118737: 615,
 119140: 615,
 120742: 613,
 123148: 613,
 114855: 879,
 116831: 612,
 121621: 881,
 120281: 609,
 123829: 608,
 122744: 605,
 123637: 604,
 131062: 604,
 123273: 601,
 131881: 601,
 121435: 600,
 111383: 599,
 123276: 597,
 134186: 597,
 119169: 594,
 123153: 591,
 115783: 590,
 119546: 588,
 131176: 587,
 116014: 586,
 ...}

In [691]:
# assets blackhole, who venmo feed, wallet linking, other ways to show identity privacy, assets volatile, tax parsing

In [692]:
1 / (1 + 10 ** ((3000 - 2800)/400))

0.2402530733520421

In [693]:
scores = {
    (4, 3): 0,
    (4, 2): 0,
    (4, 1): 0,
    (4, 0): 0,
    (3, 2): 0,
    (3, 1): 0,
    (3, 0): 0,
}
for row in agamef.itertuples():
    try:
        if row.res_a == '4':
            scores[(int(row.res_a), int(row.res_x))] += 1
        elif row.res_x == '4':
            scores[(int(row.res_x), int(row.res_a))] += 1
        elif row.res_a == '3':
            scores[(int(row.res_a), int(row.res_x))] += 1
        elif row.res_x == '3':
            scores[(int(row.res_x), int(row.res_a))] += 1
        # else:
        #     print(row)
    except:
        print(row)
        raise
scores

{(4, 3): 2891,
 (4, 2): 3818,
 (4, 1): 5091,
 (4, 0): 6568,
 (3, 2): 3868,
 (3, 1): 5903,
 (3, 0): 9447}

In [793]:
agamef.res_a = agamef.res_a.astype(int)
agamef.res_x = agamef.res_x.astype(int)

In [714]:
mpoints2 = {
    str(k): math.floor(v/2)
    for k, v in mpoints.items()
}
mpoints2

{'105649': 1661,
 '121404': 1627,
 '107028': 1553,
 '110267': 1539,
 '101222': 1485,
 '115910': 1403,
 '106195': 1402,
 '110729': 1400,
 '110553': 1393,
 '105197': 1369,
 '112062': 1353,
 '111606': 1351,
 '101820': 1342,
 '112620': 1339,
 '105926': 1335,
 '113059': 1331,
 '123980': 1315,
 '108246': 1310,
 '102841': 1303,
 '118761': 1265,
 '112092': 1253,
 '110411': 1252,
 '102761': 1250,
 '111595': 1250,
 '121752': 1249,
 '100696': 1248,
 '104379': 1244,
 '117113': 1244,
 '108581': 1243,
 '108958': 1242,
 '115641': 1240,
 '112409': 1230,
 '105136': 1224,
 '110730': 1219,
 '104257': 1210,
 '100621': 1208,
 '119588': 1208,
 '112074': 1207,
 '103107': 1207,
 '101648': 1204,
 '102697': 1201,
 '115439': 1193,
 '102380': 1190,
 '113165': 1189,
 '112580': 1186,
 '116620': 1181,
 '109946': 1170,
 '117357': 1167,
 '102832': 1166,
 '121412': 1162,
 '114936': 1161,
 '105339': 1158,
 '102891': 1156,
 '102968': 1154,
 '113336': 1151,
 '113931': 1149,
 '102943': 1148,
 '103037': 1146,
 '110410': 1144,
 '109459': 1142,
 '123690': 1133,
 '104314': 1132,
 '106296': 1132,
 '112735': 1132,
 '114355': 1132,
 '111050': 1125,
 '123962': 1125,
 '103126': 1124,
 '112442': 1116,
 '104128': 1116,
 '115927': 1115,
 '119532': 1112,
 '112436': 1108,
 '105937': 1106,
 '110002': 1104,
 '110673': 1104,
 '119565': 1101,
 '103903': 1099,
 '134379': 1098,
 '117890': 1097,
 '119284': 1092,
 '106814': 1091,
 '119794': 1086,
 '111791': 1085,
 '116532': 1085,
 '111826': 1085,
 '103345': 1084,
 '109140': 1083,
 '109188': 1082,
 '123729': 1081,
 '115546': 1080,
 '113340': 1079,
 '120850': 1079,
 '101979': 1073,
 '105609': 1073,
 '118927': 1073,
 '113685': 1072,
 '103070': 1071,
 '134239': 1071,
 '115396': 1070,
 '100982': 1067,
 '106050': 1067,
 '111033': 1067,
 '121558': 1066,
 '101674': 1065,
 '108204': 1063,
 '116612': 1057,
 '116853': 1057,
 '121582': 1055,
 '111641': 1054,
 '112035': 1054,
 '107312': 1053,
 '116658': 1052,
 '109865': 1051,
 '107445': 1050,
 '105497': 1050,
 '109581': 1047,
 '113243': 1043,
 '103202': 1042,
 '117345': 1041,
 '109546': 1039,
 '115680': 1038,
 '104795': 1037,
 '110726': 1037,
 '108742': 1036,
 '131983': 1035,
 '116820': 1034,
 '121408': 1031,
 '112446': 1030,
 '113689': 1029,
 '104359': 1028,
 '111884': 1026,
 '132237': 1026,
 '101711': 1026,
 '107578': 1026,
 '101192': 1023,
 '104036': 1023,
 '105928': 1019,
 '107071': 1011,
 '111020': 1010,
 '105666': 1010,
 '119543': 1009,
 '100001': 1007,
 '104892': 1007,
 '107138': 1004,
 '114718': 1004,
 '114856': 1001,
 '110367': 1001,
 '118886': 998,
 '101480': 995,
 '112445': 993,
 '106848': 992,
 '113329': 991,
 '100817': 990,
 '113676': 989,
 '108574': 988,
 '117800': 984,
 '119729': 984,
 '121514': 983,
 '106298': 982,
 '116798': 981,
 '115928': 980,
 '114860': 978,
 '117003': 974,
 '109904': 974,
 '110602': 971,
 '122044': 971,
 '105032': 969,
 '120683': 969,
 '105679': 968,
 '109002': 968,
 '107324': 962,
 '116818': 962,
 '114709': 961,
 '108480': 956,
 '112417': 956,
 '102242': 956,
 '110888': 955,
 '100439': 954,
 '115561': 953,
 '112738': 950,
 '112073': 949,
 '116530': 943,
 '113317': 943,
 '119800': 942,
 '113419': 941,
 '118889': 941,
 '106777': 940,
 '117341': 938,
 '120851': 938,
 '104983': 934,
 '132632': 934,
 '117002': 933,
 '133893': 933,
 '102486': 932,
 '118851': 931,
 '119566': 930,
 '117330': 930,
 '114410': 929,
 '116021': 924,
 '112600': 924,
 '101400': 922,
 '111216': 922,
 '107456': 921,
 '100829': 919,
 '100079': 918,
 '113679': 914,
 '122777': 913,
 '102736': 912,
 '107570': 912,
 '133694': 911,
 '115866': 908,
 '113251': 907,
 '117887': 906,
 '104827': 906,
 '111115': 906,
 '113395': 903,
 '107026': 903,
 '104760': 902,
 '102418': 899,
 '112075': 899,
 '115449': 899,
 '131726': 110,
 '114717': 899,
 '121042': 899,
 '106151': 898,
 '122388': 898,
 '104774': 897,
 '110727': 896,
 '119873': 894,
 '102994': 894,
 '114715': 891,
 '117139': 115,
 '107772': 888,
 '117312': 888,
 '104462': 885,
 '107272': 882,
 '114716': 882,
 '122776': 118,
 '114123': 881,
 '131375': 877,
 '107762': 876,
 '115438': 876,
 '114973': 875,
 '114356': 874,
 '106913': 872,
 '114848': 869,
 '119877': 868,
 '115392': 864,
 '114838': 861,
 '113847': 123,
 '100486': 856,
 '121693': 856,
 '123682': 852,
 '110615': 851,
 '115029': 851,
 '121588': 850,
 '132302': 849,
 '132883': 848,
 '120224': 847,
 '118671': 846,
 '132583': 846,
 '114960': 845,
 '115000': 845,
 '104086': 842,
 '115828': 838,
 '115063': 836,
 '113332': 835,
 '109538': 833,
 '112121': 832,
 '103093': 831,
 '114734': 831,
 '112284': 831,
 '106784': 830,
 '106948': 830,
 '107506': 830,
 '131148': 828,
 '131717': 827,
 '101189': 827,
 '104690': 827,
 '112451': 824,
 '104087': 823,
 '123971': 820,
 '106786': 819,
 '115048': 819,
 '124576': 819,
 '103875': 818,
 '111959': 815,
 '119092': 813,
 '101514': 812,
 '120066': 810,
 '120154': 810,
 '120168': 809,
 '121684': 808,
 '108066': 807,
 '113974': 807,
 '122727': 807,
 '112883': 145,
 '106542': 803,
 '120865': 802,
 '110623': 147,
 '112599': 800,
 '123300': 800,
 '120947': 799,
 '106059': 795,
 '107893': 793,
 '119316': 793,
 '100210': 792,
 '103159': 791,
 '113916': 791,
 '124108': 790,
 '107641': 789,
 '112077': 788,
 '120848': 787,
 '131169': 786,
 '115548': 784,
 '122095': 783,
 '111683': 782,
 '131143': 781,
 '121565': 780,
 '132880': 780,
 '112372': 779,
 '116213': 779,
 '123343': 779,
 '101545': 777,
 '121872': 159,
 '109151': 777,
 '116848': 776,
 '132193': 160,
 '113926': 776,
 '133319': 774,
 '105295': 773,
 '115019': 773,
 '132293': 162,
 '101756': 773,
 '123305': 772,
 '113917': 770,
 '116641': 770,
 '123759': 164,
 '115578': 766,
 '117862': 766,
 '114063': 764,
 '118072': 764,
 '102272': 763,
 '120287': 761,
 '111286': 761,
 '114005': 760,
 '121724': 168,
 '115100': 759,
 '108999': 759,
 '115574': 759,
 '102890': 757,
 '100234': 756,
 '111669': 756,
 '123023': 755,
 '105801': 754,
 '121577': 753,
 '106062': 750,
 '120314': 749,
 '132366': 749,
 '120266': 748,
 '105098': 745,
 '112452': 745,
 '112040': 744,
 '114868': 744,
 '114457': 743,
 '105293': 742,
 '117032': 739,
 '116424': 738,
 '113478': 738,
 '123272': 179,
 '114928': 737,
 '103842': 735,
 '100302': 734,
 '114281': 734,
 '102247': 733,
 '121878': 731,
 '113681': 729,
 '120300': 729,
 '111512': 726,
 '118882': 726,
 '122301': 726,
 '113376': 726,
 '116176': 723,
 '113928': 723,
 '119021': 723,
 '109661': 722,
 '113450': 715,
 '121490': 714,
 '131155': 714,
 '114976': 713,
 '118716': 713,
 '111219': 712,
 '103184': 710,
 '131418': 191,
 '110768': 710,
 '117001': 703,
 '134316': 703,
 '112361': 703,
 '119677': 701,
 '132696': 700,
 '120018': 194,
 '114865': 697,
 '111287': 694,
 '118962': 694,
 '113914': 693,
 '122094': 692,
 '131879': 691,
 '134443': 688,
 '119585': 688,
 '115545': 687,
 '120267': 687,
 '108295': 687,
 '116723': 686,
 '118846': 682,
 '112952': 681,
 '116846': 680,
 '104734': 677,
 '112195': 677,
 '102753': 676,
 '101847': 674,
 '116826': 674,
 '110819': 673,
 '117530': 672,
 '123720': 672,
 '111026': 671,
 '114873': 670,
 '110187': 670,
 '113342': 669,
 '111828': 668,
 '104033': 667,
 '116838': 665,
 '118847': 665,
 '123121': 664,
 '102243': 663,
 '121474': 663,
 '131913': 210,
 '120074': 659,
 '117797': 657,
 '131990': 212,
 '117865': 656,
 '117894': 655,
 '112950': 654,
 '114719': 654,
 '122387': 654,
 '122106': 213,
 '101168': 652,
 '106095': 652,
 '124413': 215,
 '122064': 650,
 '114476': 650,
 '131063': 216,
 '121852': 649,
 '123282': 649,
 '116697': 648,
 '101511': 648,
 '116926': 645,
 '113472': 219,
 '100900': 645,
 '112860': 644,
 '124005': 644,
 '118006': 220,
 '101383': 643,
 '113433': 643,
 '119037': 641,
 '114068': 640,
 '108779': 639,
 '124524': 223,
 '107707': 637,
 '112379': 637,
 '121912': 637,
 '123224': 224,
 '131996': 224,
 '121510': 635,
 '113665': 633,
 '133899': 630,
 '117006': 629,
 '120937': 628,
 '114035': 627,
 '134317': 627,
 '116262': 627,
 '115874': 625,
 '116675': 622,
 '114028': 622,
 '115054': 622,
 '131858': 230,
 '121179': 620,
 '116648': 618,
 '122724': 618,
 '100126': 617,
 '114460': 617,
 '120040': 617,
 '114065': 616,
 '119029': 234,
 '132137': 616,
 '112359': 615,
 '123680': 615,
 '120808': 614,
 '133318': 614,
 '118890': 613,
 '123931': 613,
 '104393': 612,
 '122002': 612,
 '108146': 611,
 '114027': 611,
 '116321': 611,
 '122440': 239,
 '111591': 610,
 '122435': 608,
 '111428': 607,
 '120285': 607,
 '133717': 607,
 '119127': 241,
 '131780': 242,
 '110912': 606,
 '123019': 606,
 '120318': 605,
 '122221': 244,
 '122307': 603,
 '119381': 244,
 '131147': 602,
 '122578': 245,
 '111017': 601,
 '122067': 601,
 '101879': 600,
 '134583': 600,
 '112093': 599,
 '115049': 247,
 '116841': 598,
 '121025': 598,
 '118672': 598,
 '101098': 597,
 '123882': 595,
 '120322': 595,
 '122001': 595,
 '132022': 595,
 '131441': 593,
 '120602': 591,
 '133441': 591,
 '120099': 590,
 '121035': 589,
 '121689': 589,
 '118009': 589,
 '133455': 589,
 '114353': 588,
 '120259': 587,
 '113563': 585,
 '117046': 257,
 '115458': 584,
 '123542': 257,
 '113501': 583,
 '123864': 582,
 '114985': 579,
 '120872': 577,
 '131128': 577,
 '102682': 576,
 '102983': 576,
 '117604': 575,
 '121483': 574,
 '123976': 574,
 '122096': 574,
 '133777': 574,
 '123385': 573,
 '110674': 572,
 '116839': 572,
 '116138': 569,
 '124527': 569,
 '123478': 568,
 '118920': 565,
 '114712': 563,
 '122327': 562,
 '107791': 562,
 '123344': 268,
 '122320': 560,
 '133841': 560,
 '121031': 560,
 '114874': 559,
 '133326': 559,
 '119945': 270,
 '118165': 558,
 '117864': 271,
 '116247': 558,
 '102727': 555,
 '120284': 555,
 '118875': 555,
 '120265': 555,
 '123293': 551,
 '112663': 548,
 '119042': 546,
 '122246': 275,
 '122426': 545,
 '117849': 544,
 '111730': 542,
 '120052': 541,
 '121711': 538,
 '111779': 537,
 '116140': 537,
 '119261': 278,
 '133774': 537,
 '123560': 535,
 '109629': 534,
 '117662': 534,
 '132723': 533,
 '116554': 533,
 '115801': 532,
 '109521': 531,
 '122225': 530,
 '123034': 530,
 '111217': 530,
 '118701': 529,
 '111514': 528,
 '131912': 528,
 '101459': 527,
 '116551': 527,
 '117816': 526,
 '122043': 526,
 '131878': 526,
 '134246': 524,
 '120307': 523,
 '124192': 289,
 '119579': 523,
 '121870': 523,
 '122647': 522,
 '119424': 521,
 '118665': 518,
 '115134': 517,
 '123057': 517,
 '107983': 516,
 '120207': 516,
 '122940': 516,
 '114704': 516,
 '120978': 515,
 '111960': 512,
 '117073': 511,
 '115077': 510,
 '123648': 297,
 '113761': 507,
 '123659': 507,
 '134442': 507,
 '131477': 507,
 '131773': 299,
 '120256': 506,
 '119199': 506,
 '123386': 505,
 '111509': 505,
 '120282': 504,
 '123077': 504,
 '114146': 503,
 '115079': 503,
 '102367': 503,
 '122688': 303,
 '112713': 502,
 '120239': 501,
 '122959': 501,
 '123664': 501,
 '131344': 304,
 '121440': 500,
 '120309': 306,
 '131156': 499,
 '122843': 498,
 '122736': 498,
 '119396': 307,
 '122332': 307,
 '112293': 497,
 '131484': 497,
 '132773': 497,
 '116897': 308,
 '121690': 496,
 '123204': 495,
 '112413': 494,
 '117213': 493,
 '103329': 492,
 '121869': 491,
 '121511': 491,
 '123844': 490,
 '123410': 489,
 '114733': 489,
 '116604': 489,
 '123029': 488,
 '123577': 488,
 '121437': 315,
 '133662': 484,
 '120019': 316,
 '123468': 316,
 '102827': 484,
 '110035': 483,
 '117120': 483,
 '123281': 482,
 '123514': 482,
 '121624': 318,
 '123660': 318,
 '119536': 481,
 '113625': 481,
 '120041': 481,
 '122165': 319,
 '108884': 480,
 '120073': 480,
 '121077': 480,
 '123031': 479,
 '113839': 479,
 '120857': 477,
 '117871': 475,
 '120261': 473,
 '121866': 473,
 '114938': 473,
 '122749': 473,
 '132820': 472,
 '119463': 472,
 '120896': 471,
 '131784': 471,
 '121611': 327,
 '115541': 471,
 '120083': 470,
 '113559': 469,
 '119508': 468,
 '121857': 468,
 '120162': 467,
 '112907': 330,
 '120908': 330,
 '131852': 466,
 '122020': 465,
 '132311': 465,
 '132172': 464,
 '119820': 332,
 '116245': 463,
 '122546': 462,
 '131926': 462,
 '113070': 461,
 '134794': 334,
 '123018': 460,
 '123192': 460,
 '131982': 335,
 '123544': 459,
 '134582': 458,
 '102213': 336,
 '122642': 457,
 '119272': 456,
 '122276': 456,
 '123773': 455,
 '132935': 455,
 '134793': 338,
 '117140': 455,
 '112125': 454,
 '115780': 453,
 '122061': 453,
 '116559': 341,
 '121687': 341,
 '103288': 452,
 '114020': 451,
 '133695': 451,
 '121546': 449,
 '118838': 343,
 '120096': 343,
 '131217': 449,
 '115118': 448,
 '118690': 448,
 '118523': 448,
 '109746': 345,
 '118541': 447,
 '133379': 445,
 '123515': 445,
 '122051': 444,
 '113320': 443,
 '122607': 442,
 '105897': 441,
 '133656': 440,
 '118928': 349,
 '123257': 440,
 '132775': 438,
 '134881': 437,
 '116421': 436,
 '120155': 436,
 '115249': 435,
 '133811': 435,
 '120938': 352,
 '115232': 434,
 '121060': 434,
 '123219': 434,
 '131211': 433,
 '113289': 354,
 '131671': 433,
 '134395': 433,
 '131294': 432,
 '123143': 432,
 '116492': 431,
 '122606': 357,
 '133850': 431,
 '123175': 430,
 '123522': 430,
 '122610': 358,
 '115212': 429,
 '121722': 429,
 '121452': 428,
 '121682': 428,
 '120161': 360,
 '133367': 427,
 '118702': 427,
 '132217': 426,
 '133589': 424,
 '112642': 420,
 '114007': 420,
 '114750': 418,
 '120674': 418,
 '122008': 416,
 '131420': 365,
 '124175': 414,
 '118023': 414,
 '123568': 411,
 '123905': 411,
 '121277': 411,
 '124589': 367,
 '113167': 410,
 '113583': 407,
 '122679': 406,
 '124566': 404,
 '120157': 403,
 '122537': 403,
 '108189': 403,
 '122047': 402,
 '124435': 401,
 '123017': 401,
 '119666': 400,
 '122080': 400,
 '131065': 393,
 '116840': 392,
 '122299': 392,
 '111371': 375,
 '115693': 390,
 '121940': 390,
 '118950': 376,
 '121076': 388,
 '120025': 388,
 '123207': 388,
 '111528': 387,
 '118011': 386,
 '120053': 386,
 '106034': 385,
 '121939': 385,
 '131289': 385,
 '121717': 383,
 '122894': 383,
 '133652': 381,
 '131694': 382,
 '111498': 382,
 '123534': 382,
 '132793': 382,
 '122423': 384,
 '118725': 380,
 '124461': 380,
 '132786': 380,
 '123896': 377,
 '134628': 377,
 '121871': 377,
 '122186': 377,
 '117533': 375,
 '122187': 375,
 '134353': 375,
 '100869': 388,
 '120114': 388,
 '117062': 373,
 '122677': 373,
 '123072': 373,
 '123948': 373,
 '116709': 373,
 '117880': 373,
 '133347': 373,
 '121858': 391,
 '122425': 371,
 '114323': 368,
 '102245': 368,
 '116227': 367,
 '132227': 367,
 '120262': 394,
 '118845': 367,
 '121993': 366,
 '134333': 364,
 '133867': 363,
 '116724': 362,
 '122982': 362,
 '123080': 397,
 '121178': 361,
 '132008': 361,
 '132994': 361,
 '132995': 361,
 '131376': 360,
 '119248': 400,
 '133736': 358,
 '122703': 357,
 '131154': 357,
 '131093': 356,
 '131934': 356,
 '133020': 356,
 '122151': 355,
 '122674': 355,
 '131502': 352,
 '114072': 405,
 '131779': 351,
 '122800': 351,
 '131340': 350,
 '116341': 350,
 '122086': 350,
 '114031': 407,
 '116253': 348,
 '123924': 348,
 '131723': 348,
 '119944': 347,
 '131412': 409,
 '121493': 347,
 '134863': 347,
 '118939': 346,
 '120315': 345,
 '122277': 344,
 '123665': 343,
 '120640': 412,
 '124571': 412,
 '132179': 343,
 '121512': 342,
 '133241': 342,
 '114017': 341,
 '122122': 341,
 '120126': 415,
 '119033': 340,
 '123020': 340,
 '131126': 340,
 '118934': 339,
 '116758': 338,
 '124176': 338,
 '100196': 417,
 '120093': 338,
 '132325': 336,
 '131917': 335,
 '123923': 334,
 '113570': 334,
 '119205': 333,
 '124149': 333,
 '119951': 332,
 '122993': 332,
 '133829': 330,
 '123028': 423,
 '131150': 328,
 '114397': 327,
 '122053': 327,
 '121691': 326,
 '124234': 325,
 '120869': 425,
 '121992': 324,
 '120668': 323,
 '131727': 323,
 '131406': 321,
 '131123': 427,
 '123170': 320,
 '121166': 320,
 '132187': 320,
 '132312': 320,
 '131676': 318,
 '131823': 318,
 '124639': 318,
 '116351': 315,
 '133206': 315,
 '114859': 431,
 '133454': 432,
 '122643': 314,
 '117451': 313,
 '120570': 312,
 '106136': 433,
 '104452': 311,
 '123525': 311,
 '131297': 311,
 '111135': 435,
 '116860': 435,
 '131932': 310,
 '122963': 310,
 '132789': 310,
 '121532': 309,
 '132026': 309,
 '132805': 308,
 '118737': 307,
 '119140': 307,
 '120742': 306,
 '123148': 306,
 '114855': 439,
 '116831': 306,
 '121621': 440,
 '120281': 304,
 '123829': 304,
 '122744': 302,
 '123637': 302,
 '131062': 302,
 '123273': 300,
 '131881': 300,
 '121435': 300,
 '111383': 299,
 '123276': 298,
 '134186': 298,
 '119169': 297,
 '123153': 295,
 '115783': 295,
 '119546': 294,
 '131176': 293,
 '116014': 293,
 ...}

In [1139]:
from collections import defaultdict

provis = defaultdict(lambda: 0)
provis_count = defaultdict(lambda: 0)

K = 40
PROV = 200
PROV_THRESH = 10
PROV_PER_SET = False
CARRY = 1

mpoints2 = {
    str(k): math.floor(v * CARRY)
    for k, v in mpoints.items()
}

correct = 0
total = 0

active_players = set()

for game in agamef[pd.isna(agamef.b_id) & (agamef.gender == 'M')].itertuples():            
    active_players.add(game.a_id)
    active_players.add(game.x_id)
    rating_a = mpoints2.get(game.a_id)
    rating_x = mpoints2.get(game.x_id)
    a_win = game.res_a > game.res_x
    win_sets = abs(game.res_a - game.res_x)

    if PROV_PER_SET:
        prize = (1 - 0.1 * win_sets) * PROV
    else:
        prize = PROV
    if rating_a is None and rating_x is None:
        # double provisional game
        if a_win:
            provis[game.a_id] += prize / 2
            provis[game.x_id] -= prize / 2
        else:
            provis[game.x_id] += prize / 2
            provis[game.a_id] -= prize / 2
        provis_count[game.a_id] += 1
        provis_count[game.x_id] += 1
        if provis_count[game.a_id] == PROV_THRESH:
            mpoints2[game.a_id] = provis[game.a_id]
            del provis[game.a_id]
        if provis_count[game.x_id] == PROV_THRESH:
            mpoints2[game.x_id] = provis[game.x_id]
            del provis[game.x_id]
    elif rating_a is None:
        if a_win:
            provis[game.a_id] += prize
        else:
            provis[game.a_id] -= prize
        provis_count[game.a_id] += 1
        if provis_count[game.a_id] == PROV_THRESH:
            mpoints2[game.a_id] = provis[game.a_id]
            del provis[game.a_id]
    elif rating_x is None:
        if a_win:
            provis[game.x_id] -= prize
        else:
            provis[game.x_id] += prize
        provis_count[game.x_id] += 1
        if provis_count[game.x_id] == PROV_THRESH:
            mpoints2[game.x_id] = provis[game.x_id]
            del provis[game.x_id]
    else:
        # normal game
        diff = (rating_x - rating_a) / 400
        exa = 1 / (1 + 10 ** diff)
        if a_win:
            points = K * (1 - exa)
            mpoints2[game.a_id] += points
            mpoints2[game.x_id] -= points
            if diff < 0:
                correct += 1
        else:
            points += K * exa
            mpoints2[game.x_id] += points
            mpoints2[game.a_id] -= points
            if diff > 0:
                correct += 1
        if diff != 0:
            total += 1
(correct / total) * 100

72.34892113952239

In [1140]:
plup = playerf2.set_index('player_id').to_dict('index')

In [1141]:
ranks = []
for k in active_players:
    player = plup.get(k)
    v = mpoints2.get(k)
    if not v:
        continue
    ranks.append(('{last_name} {first_name} {country}'.format(**player), math.ceil(v)))
ranks.sort(key=lambda x: -x[1])
print('\n'.join([f"{x[0]} {x[1]}" for x in ranks[:100]]))

XU Xin CHN 3804
MA Long CHN 3792
FAN Zhendong CHN 3652
LIN Gaoyuan CHN 3380
LIANG Jingkun CHN 3344
WANG Chuqin CHN 3310
BOLL Timo GER 3197
LIN Yun-Ju TPE 3167
OVTCHAROV Dimitrij GER 3132
HARIMOTO Tomokazu JPN 3027
JEOUNG Youngsik KOR 2978
CALDERANO Hugo BRA 2972
MIZUTANI Jun JPN 2881
JORGIC Darko SLO 2818
ZHOU Yu CHN 2817
CHO Seungmin KOR 2804
ZHANG Jike CHN 2784
YAN An CHN 2756
LIU Dingshuo CHN 2711
QIU Dang GER 2703
FRANZISKA Patrick GER 2695
YOSHIMURA Maharu JPN 2682
LIM Jonghoon KOR 2681
MOREGARD Truls SWE 2647
DUDA Benedikt GER 2644
KARLSSON Kristian SWE 2626
ZHAO Zihao CHN 2577
SHIBAEV Alexander RUS 2572
UDA Yukiya JPN 2571
GACINA Andrej CRO 2563
JANG Woojin KOR 2557
PITCHFORD Liam GBR 2548
FREITAS Marcos POR 2533
KALLBERG Anton SWE 2531
JEONG Sangeun KOR 2510
MORIZONO Masataka JPN 2499
FANG Bo CHN 2482
GNANASEKARAN Sathiyan IND 2463
LEE Sangsu KOR 2454
OSHIMA Yuya JPN 2453
WONG Chun Ting HKG 2449
CHUANG Chih-Yuan TPE 2449
JHA Kanak USA 2442
ARUNA Quadri NGR 2440
TOGAMI Shunsuke JPN 2433
YU Ziyang CHN 2422
YOSHIMURA Kazuhiro JPN 2420
GIONIS Panagiotis GRE 2415
XUE Fei CHN 2413
FILUS Ruwen GER 2406
SAMSONOV Vladimir BLR 2385
JIN Takuya JPN 2378
CHO Daeseong KOR 2376
HIRANO Yuki JPN 2373
GARDOS Robert AUT 2371
DYJAS Jakub POL 2367
AN Jaehyun KOR 2363
MURAMATSU Yuto JPN 2349
GAUZY Simon FRA 2349
NIWA Koki JPN 2344
ZHENG Peifeng CHN 2337
ZHOU Qihao CHN 2320
TOKIC Bojan SLO 2313
LI Ping QAT 2302
WANG Zengyi POL 2301
LEBESSON Emmanuel FRA 2297
ZHOU Kai CHN 2293
ZHAI Yujia DEN 2292
NIU Guankai CHN 2288
PAK Sin Hyok PRK 2286
WANG Eugene CAN 2284
FALCK Mattias SWE 2279
UEDA Jin JPN 2275
PERSSON Jon SWE 2272
PARK Ganghyeon KOR 2272
MATSUDAIRA Kenta JPN 2269
GERELL Par SWE 2267
WALTHER Ricardo GER 2254
WANG Yang SVK 2254
SKACHKOV Kirill RUS 2248
OLAH Benedek FIN 2247
XU Yingbin CHN 2245
TAKAKIWA Taku JPN 2245
YOSHIDA Masaki JPN 2237
KIZUKURI Yuto JPN 2231
GROTH Jonathan DEN 2222
XU Haidong CHN 2211
HABESOHN Daniel AUT 2201
ASSAR Omar EGY 2193
JIANG Tianyi HKG 2184
ALAMIYAN Noshad IRI 2180
OIKAWA Mizuki JPN 2166
JANCARIK Lubomir CZE 2162
FEGERL Stefan AUT 2156
KIM Minseok KOR 2150
FLORE Tristan FRA 2146
OUAICHE Stephane FRA 2136
ZHU Linfeng CHN 2132
ACHANTA Sharath Kamal IND 2131
GERALDO Joao POR 2129

In [1040]:
agamef[pd.isna(agamef.b_id)]

,event_type,res_a,res_x,match_id,tournament_id,a_id,x_id,b_id,y_id,gender,round_of
0,S,4,1,329372,2813,100621,120154,NaN,NaN,M,2
1,S,4,2,329373,2813,106814,106542,NaN,NaN,M,2
2,S,1,4,329374,2813,106814,110367,NaN,NaN,M,3
3,S,4,1,329375,2813,110367,106542,NaN,NaN,M,1
4,S,4,1,329376,2813,102832,113914,NaN,NaN,M,2
...,...,...,...,...,...,...,...,...,...,...,...
37671,S,0,4,1018141,5400,114105,131036,NaN,NaN,F,4
37672,S,0,4,1018142,5400,104379,102891,NaN,NaN,M,4
37673,S,2,4,1018143,5400,112092,117357,NaN,NaN,M,4
37675,S,3,4,1018145,5400,118762,131036,NaN,NaN,F,2
37676,S,4,2,1018146,5400,102891,117357,NaN,NaN,M,2