In [170]:
import os
import json
import pandas as pd
from datetime import datetime, timedelta
from collections import defaultdict

directory = os.fsencode('data/wtt_matches')

In [159]:
players = []
genders = defaultdict(lambda: None)

for file in os.listdir(directory):
    filename = os.fsdecode(file)
    if not filename.endswith(".json"):
        continue

    path = os.path.join(f'data/wtt_matches', filename) 
    with open(path, 'r') as f:
        matches = json.load(f)

    for m in matches:
        gender = m['documentCode'][3]

        isTeam = False
        for c in m['competitiors']:
            if isTeam:
                break

            for p in c['players']:
                pid = int(p['playerId'])
                if pid > 100000000 or pid < 100000:
                    isTeam = True
                if isTeam:
                    break

                if not p['playerOrgCode']:
                    p['playerOrgCode'] = c['competitiorOrg']
                players.append(p)

        if isTeam and m['teamParentData']:
            for _m in m['teamParentData']['extended_info']['matches']:
                if not _m.get('match_result'):
                    continue

                mm = _m['match_result']
                for c in mm['competitiors']:
                    for p in c['players']:
                        pid = int(p['playerId'])
                        if pid > 100000000 or pid < 100000:
                            continue

                        if not p['playerOrgCode']:
                            p['playerOrgCode'] = c['competitiorOrg']
                        players.append(p)

In [160]:
pf = pd.DataFrame(players)
pf.drop(columns=['playerPosition'], inplace=True)
pf

,playerId,playerName,playerGivenName,playerFamilyName,playerOrgCode
0,115910,LIN Gaoyuan,None,None,CHN
1,137237,LIN Shidong,None,None,CHN
2,133848,YUAN Licen,None,None,CHN
3,135888,XIANG Peng,None,None,CHN
4,121404,FAN Zhendong,None,None,CHN
...,...,...,...,...,...
41735,111050,Alvaro ROBLES,Alvaro,ROBLES,ESP
41736,112221,Lily ZHANG,Lily,ZHANG,USA
41737,102445,Offiong EDEM,Offiong,EDEM,NGR
41738,111833,Suthasini SAWETTABUT,Suthasini,SAWETTABUT,THA
41739,109777,Maria Paulina VEGA,Maria Paulina,VEGA,CHI

In [161]:
pf[pf.playerName == 'Lubomir PISTEJ']

      playerId      playerName playerGivenName playerFamilyName playerOrgCode
9135    107445  Lubomir PISTEJ         Lubomir           PISTEJ           SVK
9261    107445  Lubomir PISTEJ         Lubomir           PISTEJ           SVK
37148   107445  Lubomir PISTEJ         Lubomir           PISTEJ           SVK
37251   107445  Lubomir PISTEJ         Lubomir           PISTEJ           SVK
37305   107445  Lubomir PISTEJ         Lubomir           PISTEJ           SVK
37347   107445  Lubomir PISTEJ         Lubomir           PISTEJ           SVK

In [162]:
pf[pf.playerId.isna()]
# only 2, manually fix

Empty DataFrame
Columns: [playerId, playerName, playerGivenName, playerFamilyName, playerOrgCode]
Index: []

In [163]:
name_conflicts = pf.groupby('playerId')['playerName'].apply(set)
conf = pd.DataFrame(name_conflicts)
conf['cnt'] = name_conflicts.apply(len)
conf[conf.cnt > 1]

                                               playerName  cnt
playerId
100032                {ABDEL-AZIZ Farah, Farah ABDELAZIZ}    2
100439                         {Ahmed SALEH, SALEH Ahmed}    2
100486                         {Gaston ALTO, ALTO Gaston}    2
100621                   {Tiago APOLONIA, APOLONIA Tiago}    2
100696                           {ASSAR Omar, Omar ASSAR}    2
...                                                   ...  ...
146287            {MONTOYA  Alejandro, Alejandro MONTOYA}    2
200361    {RIOS ROMERO Carlos Josue Alberto, RIOS Carlos}    2
200391          {MENEZES ARAUJO Abimael, MENEZES Abimael}    2
200756                {SARDA Mahayla Aime, SARDA Mahayla}    2
205401                       {ZENG Zhiying, Zhiying ZENG}    2

[267 rows x 2 columns]

In [164]:
id_conflicts = pf.groupby('playerName')['playerId'].apply(set)
idconf = pd.DataFrame(id_conflicts)
idconf['cnt'] = id_conflicts.apply(len)
idconf[idconf.cnt > 1]
# These actually might be different people...

                    playerId  cnt
playerName
LEE Daeun   {135391, 132702}    2
Yang WANG   {112735, 109995}    2

In [165]:
org_conflicts = pf.groupby('playerId')['playerOrgCode'].apply(set)
oconf = pd.DataFrame(org_conflicts)
oconf['cnt'] = org_conflicts.apply(len)
oconf[oconf.cnt > 1]

                                              playerOrgCode  cnt
playerId
100868    {SVK/FRA, SVK/CZE, CZE/SVK, SVK, SVK/USA, LUX/...    7
102380                                  {ENG, ENG/GER, GBR}    3
103163                                       {USA, USA/SUI}    2
103903                                       {ROU/ESP, ROU}    2
104359                                       {SVK/SRB, SRB}    2
...                                                     ...  ...
137627    {AUS/WAL, AUS/SUI, AUS, SVK/AUS, ESP/AUS, NOR/...    7
146048                                       {PER/ECU, PER}    2
200322                                       {KAZ, LUX/KAZ}    2
200904                              {SWE/FIN, FIN, EGY/FIN}    3
201948                                       {USA, USA/NGR}    2

[220 rows x 2 columns]

In [166]:
cleaned = []
for id, rows in pf.groupby('playerId'):
    clrow = {
        'id': id,
        'org': None,
        'name': None,
    }
    for row in rows.itertuples():
        if not clrow['name']:
            clrow['name'] = row.playerName
        if not clrow['org']:
            clrow['org'] = row.playerOrgCode
        elif row.playerOrgCode:
            # take shorter country code, don't want doubles codes
            if len(row.playerOrgCode) < len(clrow['org']):
                clrow['org'] = row.playerOrgCode

    cleaned.append(clrow)
cf = pd.DataFrame(cleaned)

In [167]:
pf[pf.playerId.isin(cf[cf.org.isna()].id)]

Empty DataFrame
Columns: [playerId, playerName, playerGivenName, playerFamilyName, playerOrgCode]
Index: []

In [168]:
cf.to_csv('data/wtt_cleaned/players.tsv', index=False, sep='\t')